.white{
    color:#fff;
}
.font-22{
    font-size: 22px;
}
.fcg{
    color: #C3CBCD;
}
.bold,label.label{
    font-weight: bold;
    font-family: "sukumvit-bold";
}
b{
    font-weight: bold;
    font-family: "sukumvit-bold";

}
.hide{
    display: none;
}
.cursor{
    cursor: pointer;
}
.navbar-link{
    color:#fff;
}
.sidebar-form .is-active{
    color: #fff;
    opacity: 1;
    
}
.sidebar-form li{
    cursor: pointer;
}
/*padding*/
.pt-10{
    padding-top: 100px;
}
.pt-15{
    padding-top: 150px;
}
.pt-20{
    padding-top: 200px;
}
.pt-25{
    padding-top: 250px;
}
.w-10{
    width: 100%;
}

/** Color */
.c-main{
    color: #F5C145;
}

/* custom style */
.number_border{
    border: 1px solid #F5C145;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #F5C145;
    margin: 15px auto;
}
.border-orange{
    border: 1px solid #F5C145;
}
.btn-start{
    margin-top: 30px;
    background-color: #F5C145;
    color: #fff;
    text-align: center;
    padding: 5px 75px;
    border: 0px;
}
.btn-company-add{
    margin-top: 30px;
    background-color: #F5C145;
    color: #fff;
    text-align: center;
    padding: 20px 80px;
    width: 100%;
    border: 0px;
    font-weight: bold;
    font-family: "sukumvit-bold";
}
.btn-company-next{
    margin-top: 30px;
    background-color: #F5C145;
    color: #fff;
    text-align: center;
    padding: 6px 20px;
    margin-left: 10px;;
    border: 0px;
    font-weight: bold;
    font-family: "sukumvit-bold";

}
.bg-grey{
    background: #E5E5E5;
    min-height: calc(100vh - 155px);
}
.bg-yellow{
    background: #F5C145;
    text-align: center;
}
   
.bg-white{
    background: #fff;
}
.slmain{
    padding: 20px 0;
    border-bottom:  1px solid #fff;
    font-size: 18px;
}
.slmain li{
    padding: 10px 0;
}
.slmain a{
    color: #373F41;
}
.clearfix{
    clear: both;
}
.sub a{
    color: #000;
}
.sub .active{
    background: #F5C145;
    color: #fff;

}
.h-7{
    height: 70px;
}
.lits-menu{
    padding: 20px;
    
   
}
.lits-menu span{
    color:#C3CBCD;
}
.sub .active span, .sub .active a{
    color: #fff;
}
.v-middle{
    vertical-align: middle;
}
.h-6{
    height: 60px;
    
}
.text-middle{
    line-height: 1.5;
    padding-top: 25%;
}

ol {
    display: inline-block;
    counter-reset: my-awesome-counter;
    list-style: none;
  
    margin: 50px 0px;
    width: 60%;
    
  }
  ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 15px 10px;
    text-align: left;
    opacity: 0.5;
    
    
  }
  ol li::before {
    content: counter(my-awesome-counter);
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 15px;
    border: 1px solid #ffffff;
    
    border-radius: 50%;
  
    text-align: center;
  
  }
  .has-error {
    font-size:10px;
    color: red !important;
 }
 .has-errors{
     border-color: red !important;
 }
.le-quantity {
    /* margin: 0 15px 0 0; */
  
    margin-top: -5px;
   
    margin-right: 22px;
    text-align: left;
   
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    background: #fff;
    /* width: 50%; */
    position: relative;
    display: inline-block;
    padding: 0px 5px;
}
.le-quantity a {
    width: 25px;
    padding: 0;
    height: 0;
    margin: 0;
    /* position: absolute; */
    right: 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}


.le-quantity input[type=text] {
    background-color: #ebebeb;
    display: inline-block;
    border: none;
    transition: all .5s ease 0s;
    width: 38px;
    height: 34px;
    text-align: center;
    color: #333;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 0px;
    display: inline-block;
    padding: 6px 20px;
    cursor: pointer;
    background-color: #F5C145;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
label{
    font-weight: bold;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.hr_organge{
    border-top: 1px solid #F5C145;
}
.time-bg{
    background: hsl(0, 0%, 90%);
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 30px;
}
.time-active{
    background: #F5C145;
}
.pament-arrow{
    font-size: 40px;
}
.btn-submit {
  
    background-color: #F5C145;
    color: #fff;
    text-align: center;
  
    width: 100%;
    border: 0px;
    font-weight: bold;
    font-family: "sukumvit-bold";
}